<h2 dssTypography type="figure1">Carousel</h2>
<section class="js-container-carousel-default">
  <br>
  <br>
  <h3 dssTypography type="h3">Default</h3>
  <br>
  <dss-carousel>
    <dss-carousel-item *ngFor="let item of items2">
      <img dssCarouselItemImg [src]="item.src" [alt]="item.alt">
      <dss-carousel-item-title *ngIf="item?.title">{{ item.title }}</dss-carousel-item-title>
      <dss-carousel-item-description *ngIf="item?.description">{{ item.description }}</dss-carousel-item-description>
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-html">
  <br>
  <br>
  <h3 dssTypography type="h3">Com HTML</h3>
  <br>
  <dss-carousel>
    <dss-carousel-item>
      <p dssTypography type="figure1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda at dolor error
        incidunt molestiae nihil quia reprehenderit ut voluptatem. Accusantium architecto asperiores
        deleniti dolores ducimus labore laboriosam quae sit?
      </p>
      <button dssButton>Saiba mais</button>
    </dss-carousel-item>
    <dss-carousel-item>
      <p dssTypography type="figure1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto earum esse
        impedit iste, laboriosam libero minima numquam obcaecati officia placeat voluptatem,
        voluptates. Eaque molestiae nulla odio suscipit tempore vel.
      </p>
      <button dssButton>Saiba mais</button>
    </dss-carousel-item>
    <dss-carousel-item>
      <p dssTypography type="figure1">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi iure
        nemo obcaecati saepe sapiente? Ab eius id illum maiores minima recusandae rem,
        rerum sint sunt vitae! Ex, non, voluptates.
      </p>
      <button dssButton>Saiba mais</button>
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-circular">
  <br>
  <br>
  <h3 dssTypography type="h3">Circular</h3>
  <br>
  <dss-carousel [circular]="true">
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/carousel-1.png" alt="">
      <dss-carousel-item-title>Verde</dss-carousel-item-title>
      <dss-carousel-item-description>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </dss-carousel-item-description>
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/carousel-3.png" alt="">
      <dss-carousel-item-title>Verde Piscina</dss-carousel-item-title>
      <dss-carousel-item-description>Accusamus aliquam at dolores eaque error obcaecati quo reprehenderit sunt tenetur
        ullam!</dss-carousel-item-description>
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/carousel-4.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/carousel-5.png" alt="">
      <dss-carousel-item-title>Amarelo</dss-carousel-item-title>
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-small-img">
  <br>
  <br>
  <h3 dssTypography type="h3">Com Imagem Pequena e Caption</h3>
  <br>
  <dss-carousel>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
      <dss-carousel-item-title style="color: white;">Banner 1</dss-carousel-item-title>
      <dss-carousel-item-description style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </dss-carousel-item-description>
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
      <dss-carousel-item-title style="color: white;">Banner 2</dss-carousel-item-title>
      <dss-carousel-item-description style="color: white;">Eaque enim libero magnam modi quis sapiente temporibus?
      </dss-carousel-item-description>
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
      <dss-carousel-item-title style="color: white;">Banner 3</dss-carousel-item-title>
      <dss-carousel-item-description style="color: white;">Accusamus aliquam at dolores eaque error obcaecati quo reprehenderit sunt ullam!
      </dss-carousel-item-description>
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
      <dss-carousel-item-title style="color: white;">Banner 4</dss-carousel-item-title>
      <dss-carousel-item-description style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </dss-carousel-item-description>
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
      <dss-carousel-item-title style="color: white;">Banner 5</dss-carousel-item-title>
      <dss-carousel-item-description style="color: white;">Eaque enim libero magnam modi quis sapiente temporibus?
      </dss-carousel-item-description>
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-small-img-without-caption">
  <br>
  <br>
  <h3 dssTypography type="h3">Com Imagem Pequena Sem Caption</h3>
  <br>
  <dss-carousel>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-no-height-limit">
  <br>
  <br>
  <h3 dssTypography type="h3">Sem Limite de Altura</h3>
  <br>
  <dss-carousel class="dss-carousel--no-height-limit">
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner-2.png" alt="">
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-navbar">
  <br>
  <br>
  <h3 dssTypography type="h3">Com Navbar Customizada</h3>
  <br>
  <dss-carousel (selectionChange)="lastItem = $event === 2">
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-item>
      <img dssCarouselItemImg src="assets/img/banner.png" alt="">
    </dss-carousel-item>
    <dss-carousel-nav-prev>
      <span dssIcon name="chevron-left-1px"></span>
      <span>Anterior</span>
    </dss-carousel-nav-prev>
    <dss-carousel-nav-next [alwaysEnabled]="true">
      <div *ngIf="lastItem" (click)="onClickLastItem()">
        <span>Continuar</span>
        <span dssIcon name="chevron-right-1px"></span>
      </div>
      <div *ngIf="!lastItem">
        <span>Próximo</span>
        <span dssIcon name="chevron-right-1px"></span>
      </div>
    </dss-carousel-nav-next>
  </dss-carousel>
</section>
<section class="js-container-carousel-complexity-html">
  <br>
  <br>
  <h3 dssTypography type="h3">Com HTML mais Complexo</h3>
  <br>
  <dss-carousel [circular]="true">
    <dss-carousel-item *ngFor="let item of items">
      <div class="dss-grid">
        <div class="dss-col-4" *ngFor="let card of item.cards">
          <div dssContainer shadow="md" class="dss-p-1 dss-position-relative" style="height: 550px;">
            <div class="dss-display-flex dss-align-items-center dss-mb-1">
              <span dssIcon [name]="card.icon" color="redLight1"></span>
              <h1 dssTypography type="h1" class="dss-ml-0.5">{{ card.title }}</h1>
            </div>
            <p dssTypography type="caption" class="dss-mb-1" color="grayDark1">{{ card.description }}</p>
            <p *ngIf="card?.value" dssTypography type="h1" class="dss-mb-1"><strong>{{ card.value | currency:'BRL':'symbol':'2.2-2' }}</strong> /mês</p>
            <div *ngIf="!card?.value" style="height: 32px;"></div>
            <h3 dssTypography type="h3" class="dss-mb-1" color="grayDark1" [bold]="true">{{ card.subtitle }}</h3>
            <ul style="list-style: none;">
              <li class="dss-display-flex dss-align-items-center dss-mb-1" *ngFor="let value of card.list">
                <span dssIcon name="checkmark" color="green"></span>
                <span dssTypography type="body">{{ value }}</span>
              </li>
            </ul>
            <button dssFilledButton class="dss-position-absolute dss-left-50 dss-translate-middle-x" style="bottom: 16px; width: calc(100% - 32px);">{{ card.button }}</button>
          </div>
        </div>
      </div>
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-aside-nav">
  <br>
  <br>
  <h3 dssTypography type="h3">Com navegação lateral</h3>
  <br>
  <dss-carousel class="dss-carousel--side-nav">
    <dss-carousel-item *ngFor="let item of items2">
      <img dssCarouselItemImg [src]="item.src" [alt]="item.alt">
    </dss-carousel-item>
  </dss-carousel>
</section>
<section class="js-container-carousel-slide">
  <br>
  <br>
  <h3 dssTypography type="h3">Com Animação de Slide (Touch no Mobile)</h3>
  <br>
  <dss-carousel [animate]="{ animation: 'slide' }">
    <dss-carousel-item *ngFor="let item of items2">
      <img dssCarouselItemImg [src]="item.src" [alt]="item.alt">
      <dss-carousel-item-title *ngIf="item?.title">{{ item.title }}</dss-carousel-item-title>
      <dss-carousel-item-description *ngIf="item?.description">{{ item.description }}</dss-carousel-item-description>
    </dss-carousel-item>
  </dss-carousel>
</section>
