<h2 dssTypography type="figure1">Skeleton</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<dss-skeleton></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Quadrado</h3>
<br>
<br>
<dss-skeleton style="margin-right: 16px;" type="square" size="small"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="square" size="default"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="square" size="medium"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="square" size="large"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="square" size="extra-large"></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Círculo</h3>
<br>
<br>
<dss-skeleton style="margin-right: 16px;" type="circle" size="small"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="circle" size="default"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="circle" size="medium"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="circle" size="large"></dss-skeleton>
<dss-skeleton style="margin-right: 16px;" type="circle" size="extra-large"></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Título</h3>
<br>
<br>
<dss-skeleton type="title"></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Parágrafo</h3>
<br>
<br>
<dss-skeleton type="paragraph"></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Lista</h3>
<br>
<br>
<dss-skeleton type="list"></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Sem animação</h3>
<br>
<br>
<dss-skeleton [animate]="false"></dss-skeleton>
<br>
<br>
<h3 dssTypography type="h3">Criando o seu</h3>
<br>
<br>
<div style="width: 288px;">
  <dss-skeleton height="200px" style="margin-bottom: 24px;"></dss-skeleton>
  <dss-skeleton type="paragraph"></dss-skeleton>
  <div style="display: flex; justify-content: center; margin-top: 16px; padding: 16px;">
    <dss-skeleton type="square" width="100px" height="48px"></dss-skeleton>
    <dss-skeleton type="square" width="100px" height="48px" style="margin-left: 16px;"></dss-skeleton>
  </div>
</div>
