<h2 dssTypography type="figure1">List</h2>
<br />
<br />
<h3 dssTypography type="h3">List Text & Actions</h3>
<br />
<dss-list type="text">
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
</dss-list>
<br />
<br />
<h3 dssTypography type="h3">List Value</h3>
<br />
<dss-list type="value">
  <dss-list-item>
    <dss-list-item-title>1 - List Value</dss-list-item-title>
    <dss-list-item-content>R$ 999.999.999.999,97</dss-list-item-content>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>2 - List Value</dss-list-item-title>
    <dss-list-item-content>R$ 999.999.999.999,98</dss-list-item-content>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>3 - List Value</dss-list-item-title>
    <dss-list-item-content>R$ 999.999.999.999,99</dss-list-item-content>
  </dss-list-item>
</dss-list>
<br />
<br />
<h3 dssTypography type="h3">List Columned</h3>
<br />
<dss-list type="columned">
  <dss-list-item>
    <dss-list-item-title>1 - List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>2 - List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>3 - List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
  </dss-list-item>
</dss-list>
<br />
<br />
<h3 dssTypography type="h3">List Description</h3>
<br />
<dss-list type="description">
  <dss-list-item>
    <span dssIcon name="solar-energy"></span>
    <dss-list-item-title>List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
  </dss-list-item>
  <dss-list-item>
    <span dssIcon name="petrol-tower"></span>
    <dss-list-item-title>List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
  </dss-list-item>
  <dss-list-item>
    <span dssIcon name="atom"></span>
    <dss-list-item-title>List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
  </dss-list-item>
</dss-list>
<br />
<br />
<h3 dssTypography type="h3">List Description & Caption</h3>
<br />
<dss-list type="description">
  <dss-list-item>
    <dss-list-item-title>List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
    <dss-list-item-caption>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti distinctio ea, et ex excepturi, facilis fuga id illo
        inventore itaque iusto nesciunt soluta temporibus voluptatibus. Facilis perspiciatis sit totam.
      </p>
    </dss-list-item-caption>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
    <dss-list-item-caption>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti distinctio ea, et ex excepturi, facilis fuga id illo
        inventore itaque iusto nesciunt soluta temporibus voluptatibus. Facilis perspiciatis sit totam.
      </p>
    </dss-list-item-caption>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Title</dss-list-item-title>
    <dss-list-item-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi esse itaque iure nam quaerat quos rem tempora. A adipisci aliquam,
      ex illo inventore ipsum laudantium modi, nam neque omnis, sequi?
    </dss-list-item-content>
    <dss-list-item-caption>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti distinctio ea, et ex excepturi, facilis fuga id illo
        inventore itaque iusto nesciunt soluta temporibus voluptatibus. Facilis perspiciatis sit totam.
      </p>
    </dss-list-item-caption>
  </dss-list-item>
</dss-list>
<br />
<br />
<h2 dssTypography type="figure2">Change Padding Y</h2>
<br />
<br />
<h3 dssTypography type="h3">PY-1 - 8px</h3>
<br />
<dss-list type="text" class="dss-list--py-1">
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
</dss-list>
<br />
<br />
<h3 dssTypography type="h3">PY-2 - 16px - Default</h3>
<br />
<dss-list type="text">
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
</dss-list>
<br />
<br />
<h3 dssTypography type="h3">PY-3 - 24px</h3>
<br />
<dss-list type="text" class="dss-list--py-3">
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
  <dss-list-item>
    <dss-list-item-title>List Value</dss-list-item-title>
    <dss-list-item-actions>
      <span dssIcon name="add-1px"></span>
      <span dssIcon name="edit"></span>
      <span dssIcon name="trash-bin"></span>
    </dss-list-item-actions>
  </dss-list-item>
</dss-list>
