<h2 dssTypography type="figure1">Card</h2>
<br>
<br>
<h2 dssTypography type="h3">Base</h2>
<br>
<br>
<div dssCard [type]="type" (click)="selected()">
  <p class="dss-p-1" dssTypography type="body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur delectus quidem voluptatem? Ab cumque, eos fugit iusto sapiente sequi veniam. Accusamus assumenda corporis esse, iure nesciunt numquam omnis perferendis quas!
  </p>
</div>
<br>
<br>
<button dssFilledButton (click)="reset()">Reset</button>
