<h2 dssTypography type="figure1">Page Menu</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<br>
<dss-page-menu>
  <dss-page-menu-title>Pagamentos</dss-page-menu-title>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Boletos e Faturas</dss-page-menu-list-title>
    <dss-page-menu-list-item [isNew]="true">
      Com código de barras
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Boletos em cartório
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Fatura Santander
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Fatura America Express
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Fatura outros bancos
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Pagamentos realizados
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Agendamentos
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>IPVA</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      Minas Gerais
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Demais estados
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>DPVAT</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      Minas Gerais
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Demais estados
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Licenciamento</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      Minas Gerais
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      São Paulo 2ª via
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item [isNew]="true">
      Demais estados
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Consultar calendário
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>1º Registro</dss-page-menu-list-title>
    <dss-page-menu-list-description>Veículos 0 km</dss-page-menu-list-description>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Taxa DETRAN</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Multas</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      São Paulo
      <dss-page-menu-list-description>Veículos de São Paulo</dss-page-menu-list-description>
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Minas Gerais
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Paraná
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Rio Grande do Sul
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Multas demais estados
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Transferência de veículo</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      São Paulo
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Minas Gerais
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Paraná
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Rio Grande do Sul
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      2ª via transferência
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Tributos federais</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      GPS
      <dss-page-menu-list-description>Guia de Previdência Social</dss-page-menu-list-description>
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      DARF
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item [isNew]="true">
      IRPF
      <dss-page-menu-list-description>Imposto de Renda Pessoa física</dss-page-menu-list-description>
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Tributos municipais</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      IPTU SP
      <dss-page-menu-list-description>Via código do contribuinte</dss-page-menu-list-description>
      <hr dssDivider>
    </dss-page-menu-list-item>
    <dss-page-menu-list-item>
      Comprovantes
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
  <dss-page-menu-list>
    <dss-page-menu-list-title>Tarifas e pacotes de serviços</dss-page-menu-list-title>
    <dss-page-menu-list-item>
      Consultar
      <hr dssDivider>
    </dss-page-menu-list-item>
  </dss-page-menu-list>
</dss-page-menu>
