<h2 dssTypography type="figure1">Ícones</h2>
<section class="icons">
  <dss-form-field>
    <input type="text" placeholder="Pesquisar ícone" [(ngModel)]="search" (input)="filter()" />
    <span dssIcon name="search" rtlt="left"></span>
  </dss-form-field>
  <br />
  <ul class="icons__list">
    <li *ngFor="let icon of icons" class="icons__item">
      <div dssTypography type="body">{{ icon.name }}</div>
      <div>
        <span dssIcon [name]="icon.name" size="small"></span>
      </div>
      <div>
        <span dssIcon [name]="icon.name"></span>
      </div>
      <div>
        <span dssIcon [name]="icon.name" size="medium"></span>
      </div>
      <div>
        <span dssIcon [name]="icon.name" size="large"></span>
      </div>
      <div>
        <span dssIcon [name]="icon.name" size="extra-large"></span>
      </div>
    </li>
  </ul>
  <p *ngIf="icons.length === 0" dssTypography type="body" class="icons__not-found">Nenhum ícone encontrado</p>
</section>
