<div class="dss-pt-3">
  <ul class="dss-my-3" dssTypography type="body">
    <li><a [routerLink]="['/default']">Default</a></li>
    <li><a [routerLink]="['/old']">Old</a></li>
  </ul>
  <h2 dssTypography type="figure1">Header</h2>
  <br>
  <br>
  <h3 dssTypography type="h3">Default</h3>
  <br>
  <br>
  <header dssHeader class="dss-display-flex dss-align-items-center">
    <h1 class="dss-display-flex dss-align-items-center dss-m-0" dssTypography type="h1" color="white">
      <span dssIcon name="santander" size="medium" dssTypography color="white" class="dss-mr-0.5"></span>Santander
    </h1>
  </header>
</div>
