<h2 dssTypography type="figure1">Badge</h2>
<br>
<br>
<h2 dssTypography type="h3">Default - Em Botões</h2>
<br>
<br>
<button dssButton dssBadge="9" class="dss-mr-2">Button Text</button>
<button dssFilledButton dssBadge="8" class="dss-mr-2">Button Primary</button>
<button dssOutlineButton dssBadge="7">Button Secondary</button>
<br>
<br>
<button dssButton dssBadge="19" class="dss-mr-2">Button Text</button>
<button dssFilledButton dssBadge="28" class="dss-mr-2">Button Primary</button>
<button dssOutlineButton dssBadge="37">Button Secondary</button>
<br>
<br>
<button dssButton dssBadge="190" class="dss-mr-2">Button Text</button>
<button dssFilledButton dssBadge="280" class="dss-mr-2">Button Primary</button>
<button dssOutlineButton dssBadge="370">Button Secondary</button>
<br>
<br>
<h2 dssTypography type="h3">Default - Em Ícones</h2>
<br>
<br>
<span dssIcon name="block-in-a-circle" size="small" dssBadge="4" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" dssBadge="5" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="medium" dssBadge="6" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="large" dssBadge="7" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="extra-large" dssBadge="8"></span>
<br>
<br>
<span dssIcon name="block-in-a-circle" size="small" dssBadge="49" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" dssBadge="59" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="medium" dssBadge="69" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="large" dssBadge="79" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="extra-large" dssBadge="89"></span>
<br>
<br>
<span dssIcon name="block-in-a-circle" size="small" dssBadge="490" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" dssBadge="590" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="medium" dssBadge="690" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="large" dssBadge="790" class="dss-mr-2"></span>
<span dssIcon name="block-in-a-circle" size="extra-large" dssBadge="890"></span>
<br>
<br>
<h2 dssTypography type="h3">Default - Em Texto</h2>
<br>
<br>
<p dssTypography type="body">
  Text with a badge<span dssBadge="9"></span>
</p>
<br>
<br>
<p dssTypography type="body">
  Text with a badge<span dssBadge="99"></span>
</p>
<br>
<br>
<p dssTypography type="body">
  Text with a badge<span dssBadge="999"></span>
</p>
<br>
<br>
<h2 dssTypography type="h3">Escuro</h2>
<br>
<br>
<p dssTypography type="body">
 Text with a badge<span dssBadge="Black Friday" type="dark"></span>
</p>
<br>
<br>
<h2 dssTypography type="h3">Sucesso</h2>
<br>
<br>
<p dssTypography type="body">
  Text with a badge<span dssBadge="Especial pra você" type="success"></span>
</p>
