<h2 dssTypography type="figure1">Data Table</h2>
<br />
<ul dssTypography type="body" class="dss-ml-1">
  <li><a href="#" [routerLink]="['default']">Default</a></li>
  <li><a href="#" [routerLink]="['with-checkbox-service']">Com Checkbox Usando Service</a></li>
  <li><a href="#" [routerLink]="['with-checkbox-directive']">Com Checkbox Usando Diretiva</a></li>
  <li><a href="#" [routerLink]="['with-radio-service']">Com Radio Usando Service</a></li>
  <li><a href="#" [routerLink]="['with-radio-directive']">Com Radio Usando Diretiva</a></li>
  <li><a href="#" [routerLink]="['column-filter']">Com Colunas para Filtro</a></li>
  <li>
    <a href="#" [routerLink]="['actions']">Actions</a>
    (Com Not Found personalizado)
  </li>
  <li><a href="#" [routerLink]="['fixed']">Fixed</a></li>
</ul>
<br />
<br />
<router-outlet></router-outlet>
<br />
<br />
<br />
<br />
<br />
