<h2 dssTypography type="figure1">Position</h2>
<br>
<h3 dssTypography type="h3" id="default">Default</h3>
<br>
<br>
<div class="dss-ml-1">
  <div class="dss-position-relative">
    <div class="dss-position-absolute dss-top-0 dss-left-0"></div>
    <div class="dss-position-absolute dss-top-0 dss-right-0"></div>
    <div class="dss-position-absolute dss-top-50 dss-left-50"></div>
    <div class="dss-position-absolute dss-bottom-50 dss-right-50"></div>
    <div class="dss-position-absolute dss-bottom-0 dss-left-0"></div>
    <div class="dss-position-absolute dss-bottom-0 dss-right-0"></div>
  </div>
  <br>
  <br>
  <h3 dssTypography type="h3" id="center-outside-container">Centro (Fora do Container)</h3>
  <br>
  <br>
  <div class="dss-position-relative">
    <div class="dss-position-absolute dss-top-0 dss-left-0 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-0 dss-left-50 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-0 dss-left-100 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-50 dss-left-0 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-50 dss-left-50 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-50 dss-left-100 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-100 dss-left-0 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-100 dss-left-50 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-100 dss-left-100 dss-translate-middle"></div>
  </div>
  <br>
  <br>
  <h3 dssTypography type="h3" id="center-inside-container">Centro (Dentro do Container)</h3>
  <br>
  <br>
  <div class="dss-position-relative">
    <div class="dss-position-absolute dss-top-0 dss-left-0"></div>
    <div class="dss-position-absolute dss-top-0 dss-left-50 dss-translate-middle-x"></div>
    <div class="dss-position-absolute dss-top-0 dss-right-0"></div>
    <div class="dss-position-absolute dss-top-50 dss-left-0 dss-translate-middle-y"></div>
    <div class="dss-position-absolute dss-top-50 dss-left-50 dss-translate-middle"></div>
    <div class="dss-position-absolute dss-top-50 dss-right-0 dss-translate-middle-y"></div>
    <div class="dss-position-absolute dss-bottom-0 dss-left-0"></div>
    <div class="dss-position-absolute dss-bottom-0 dss-left-50 dss-translate-middle-x"></div>
    <div class="dss-position-absolute dss-bottom-0 dss-right-0"></div>
  </div>
</div>
