<div class="dss-ml-1.5">

    <h2 dssTypography type="figure1">Contact</h2>

    <span dssTypography type="body" color="grayDark3">Caso queira adquirir o codigo fonte do Design System Sphere,
        não deixe de entrar em contato!</span>

    <br>
    <br>

    <div class="grid">
        <ul class="dss-display-flex dss-align-items-center app-ul-custom dss-ml-1.0">
            <li>
                <a class="dss-display-inline-flex dss-align-items-center dss-mr-1 dss-color-white app-link-custom" dssTypography type="h3" target="_blank"
                    href="https://www.linkedin.com/in/walmir-castro-83011869">
                    <span dssIcon name="linkedin" size="medium" dssTypography></span>
                </a>
            </li>
            <li>
                <a class="dss-display-inline-flex dss-align-items-center dss-mr-1 dss-color-white app-link-custom" dssTypography type="h3">
                    <span dssIcon name="instagram" size="medium" dssTypography></span>
                </a>
            </li>
            <li>
                <a class="dss-display-inline-flex dss-align-items-center dss-mr-1 dss-color-white app-link-custom" dssTypography type="h3">
                    <span dssIcon name="facebook" size="medium" dssTypography></span>
                </a>
            </li>
        </ul>
    </div>

</div>