<h2 dssTypography type="figure1">Product Card</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<dss-product-card>
  <dss-product-card-title>Title Product Card</dss-product-card-title>
  <dss-product-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias animi aperiam, aspernatur beatae deleniti dignissimos, eos eveniet ex explicabo in libero nesciunt non provident, quasi repellat tempore totam?</p>
  </dss-product-card-content>
  <dss-product-card-actions>
    <button dssOutlineButton>Cancelar</button>
    <button dssFilledButton style="margin-left: 16px">Salvar</button>
  </dss-product-card-actions>
</dss-product-card>
<br>
<br>
<h3 dssTypography type="h3">With Img</h3>
<br>
<dss-product-card>
  <img dssProductCardImg src="assets/img/product-card.png" alt="Imagem 640x480">
  <dss-product-card-title>Title Product Card</dss-product-card-title>
  <dss-product-card-content>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias animi aperiam, aspernatur beatae deleniti dignissimos, eos eveniet ex explicabo in libero nesciunt non provident, quasi repellat tempore totam?</p>
  </dss-product-card-content>
  <dss-product-card-actions>
    <button dssOutlineButton>Cancelar</button>
    <button dssFilledButton style="margin-left: 16px">Salvar</button>
  </dss-product-card-actions>
</dss-product-card>
