<ng-container *ngIf="!isPageFullScreen()">
  <ul dssTypography type="body">
    <li><a [routerLink]="['/default']">Default</a></li>
    <li><a [routerLink]="['/old']">Old</a></li>
  </ul>
  <br>
  <h1 dssTypography type="display3">Tokens: {{ title }}</h1>
  <br>
  <div class="dss-position-absolute dss-top-0 dss-right-0 dss-mt-1 dss-mr-1 dss-display-inline-flex dss-align-items-center">
    <dss-toggle class="js-toggle-theme" [checked]="true" (change)="changeTheme($event)"></dss-toggle>
    <span dssIcon [name]="theme === 'default' ? 'sunny' : 'moon'" class="dss-ml-0.5"></span>
  </div>
  <div class="js-change-lang dss-position-absolute dss-top-0 dss-mt-1" style="width: 160px; right: 160px">
    <dss-form-field>
      <dss-dropdown [(ngModel)]="selectedItem" (selectionChange)="onOptionSelected($event)" [options]="languages" [raw]="true">
        <span *dssOption="let option">{{ option.viewValue }}</span>
      </dss-dropdown>
      <label dssLabel>Idioma</label>
    </dss-form-field>
  </div>
</ng-container>
<main>
  <router-outlet></router-outlet>
</main>
