<h2 dssTypography type="figure1">Background Status</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<br>
<div dssBackgroundStatus>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi autem consequuntur cupiditate delectus dicta, harum ipsa labore officiis optio praesentium quae quisquam quo, reprehenderit, sit veniam vero! Architecto.
</div>
<br>
<br>
<h3 dssTypography type="h3">Tipo 1</h3>
<br>
<br>
<div dssBackgroundStatus type="1">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi autem consequuntur cupiditate delectus dicta, harum ipsa labore officiis optio praesentium quae quisquam quo, reprehenderit, sit veniam vero! Architecto.
</div>
<br>
<br>
<h3 dssTypography type="h3">Tipo 2</h3>
<br>
<br>
<div dssBackgroundStatus type="2">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi autem consequuntur cupiditate delectus dicta, harum ipsa labore officiis optio praesentium quae quisquam quo, reprehenderit, sit veniam vero! Architecto.
</div>
<br>
<br>
<h3 dssTypography type="h3">Tipo 3</h3>
<br>
<br>
<div dssBackgroundStatus type="3">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi autem consequuntur cupiditate delectus dicta, harum ipsa labore officiis optio praesentium quae quisquam quo, reprehenderit, sit veniam vero! Architecto.
</div>
