<h2 dssTypography type="figure1">Avatar</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<span dssIcon name="account-user" dssAvatar></span>
<br>
<br>
<h3 dssTypography type="h3">Azul (Sky)</h3>
<br>
<span dssIcon name="sky" dssAvatar type="sky"></span>
<br>
<br>
<h3 dssTypography type="h3">Neutro</h3>
<br>
<span dssIcon name="account-user" dssAvatar type="neutral"></span>
<br>
<br>
<br>
<br>
<h3 dssTypography type="h3">Grande</h3>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<span dssIcon name="account-user" dssAvatar avatarSize="extra-large"></span>
<br>
<br>
<h3 dssTypography type="h3">Azul (Sky)</h3>
<br>
<span dssIcon name="sky" dssAvatar type="sky" avatarSize="extra-large"></span>
<br>
<br>
<h3 dssTypography type="h3">Neutro</h3>
<br>
<span dssIcon name="account-user" dssAvatar type="neutral" avatarSize="extra-large"></span>
<br>
<br>
<br>
<br>
<h3 dssTypography type="h3">Iniciais</h3>
<br>
<span dssAvatar type="sky">ER</span>
<br>
<br>
<span dssAvatar type="sky" avatarSize="extra-large">EC</span>
