<div class="dss-grid-container-fluid">
    <div class="dss-grid">
        <aside  [ngClass]="{'ativo': ativo, 'inativo': !ativo}" class="dss-position-fixed dss-col-2 dss-py-1.5 app-aside dss-scrollbar">
            <ul>
                <li *ngFor="let route of routes" class="dss-py-0.5 app-li-custom">
                    <a class="dss-body dss-color-blue app-link-custom"
                    [routerLink]="['/components', route.path]">{{ route?.data?.label }}</a>
                </li>
            </ul>
        </aside>
        <main  [ngClass]="{'ativo': !ativo, 'inativo': ativo}" class="dss-col-10 dss-offset-2">
            <div class="dss-py-1.5">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>