.app-aside {
    height: 90%;
    overflow: hidden auto;
    padding-inline: 12px;
}

.app-li-custom {
    list-style: none;
    a {
        color: rgb(74, 117, 241) !important;
    }
}

.app-link-custom {
    display: inherit;
    text-decoration: none;
}