<div class="dss-grid-container-fluid">
    <div class="dss-grid">
        <aside dssscrollbar class="dss-position-fixed dss-col-2 dss-py-1.5 app-aside dss-scollbar">
            <ul>
                <li class="dss-py-0.5 app-li-custom"><a class="dss-body dss-color-blue app-link-custom"
                        routerLink="/components/accordion">Accordion</a></li>
                <li class="dss-py-0.5 app-li-custom"><a class="dss-body dss-color-blue app-link-custom" routerLink="/components/alert-banner">Alert
                        Banner</a></li>
            </ul>
        </aside>
        <main class="dss-col-10 dss-offset-2">
            <div class="dss-py-1.5">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>