<h2 dssTypography type="figure1">Container</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<br>
<div dssContainer>
  <p class="dss-p-1" dssTypography type="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur deserunt distinctio error eum hic id illo impedit incidunt ipsa, minima non perferendis perspiciatis quisquam rerum soluta totam!</p>
</div>
<br>
<br>
<h3 dssTypography type="h3">Elevation 1</h3>
<br>
<br>
<div dssContainer shadow="md">
  <p class="dss-p-1" dssTypography type="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur deserunt distinctio error eum hic id illo impedit incidunt ipsa, minima non perferendis perspiciatis quisquam rerum soluta totam!</p>
</div>
<br>
<br>
<h3 dssTypography type="h3">Elevation 2</h3>
<br>
<br>
<div dssContainer shadow="lg">
  <p class="dss-p-1" dssTypography type="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam aspernatur deserunt distinctio error eum hic id illo impedit incidunt ipsa, minima non perferendis perspiciatis quisquam rerum soluta totam!</p>
</div>
