.app-ul-custom {
    list-style: none;
}

.app-link-custom {
    text-decoration: none;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 768px) {
    #divControl {
        display: none !important;
    }
    #logo {
        display: none !important;
    }
    #burguerMenu {
        display: block !important;
    }
}