<header class="dss-display-flex dss-align-items-center dss-header dss-position-relative">
  <div id="logo" class="dss-m-2">
    <h1 class="dss-display-flex dss-align-items-center dss-m-0" dssTypography type="h1" color="white">
      <span dssIcon name="dynamics" size="medium" dssTypography color="white" class="dss-mr-0.5"></span>Sphere
    </h1>
  </div>

  <div id="burguerMenu" class="dss-m-2" style="display: none;" (click)="onBurguerMenuSwitcher()">
        <h1 class="dss-display-flex dss-align-items-center dss-m-0" dssTypography type="h1" color="white">
        <span dssIcon name="burger-menu-1px" size="medium" dssTypography color="white" class="dss-mr-0.5"></span>
        </h1>
  </div>

  <nav class="dss-ml-auto">
    <ul class="dss-display-flex dss-align-items-center app-ul-custom">
      <li><a class="dss-display-inline-flex dss-align-items-center dss-mr-1 dss-color-white app-link-custom" routerLink="/home" routerLinkActive="active" >Home</a></li>
      <li><a class="dss-display-inline-flex dss-align-items-center dss-mr-1 dss-color-white app-link-custom" routerLink="/components" routerLinkActive="active" >Components</a></li>
      <li><a class="dss-display-inline-flex dss-align-items-center dss-mr-1 dss-color-white app-link-custom" routerLink="/contact" routerLinkActive="active" >Contact</a></li>
    </ul>
  </nav>
</header>

<div id="divControl" class="dss-position-absolute dss-top-2 dss-right-0 dss-display-inline-flex dss-align-items-center">
  <div class="dss-mt-1 dss-mr-1" style="width: 160px; right: 160px">
    <dss-form-field>
      <dss-dropdown [(ngModel)]="selectedItem" (selectionChange)="onOptionSelected($event)" [options]="languages" [raw]="true">
        <span *dssOption="let option">{{ option.viewValue }}</span>
      </dss-dropdown>
      <label dssLabel>Idioma</label>
    </dss-form-field>
  </div>
  <div class=" dss-mt-1 dss-display-inline-flex dss-align-items-center">
    <dss-toggle [checked]="true" (change)="changeTheme($event)"></dss-toggle>
    <span dssIcon [name]="theme === 'default' ? 'sunny' : 'moon'" class="dss-ml-0.5"></span>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
