<h2 dssTypography type="figure1">Container</h2>
<br>
<br>
<div dssTypography type="body" class="dss-mx-n2 container-examples">
  <div class="dss-grid dss-mt-2">
    <div class="dss-col">
      <h3 dssTypography type="h3" id="container-fluid" class="dss-mb-1.5">Fluído</h3>
    </div>
  </div>
  <section class="dss-grid-container-fluid">
    <div class="dss-grid">
      <div class="dss-col-12">
        <div>100%</div>
      </div>
    </div>
  </section>
  <div class="dss-grid dss-mt-2">
    <div class="dss-col">
      <h3 dssTypography type="h3" id="container-left" class="dss-mb-1.5">Esquerda</h3>
    </div>
  </div>
  <section class="dss-grid-container-left">
    <div class="dss-grid">
      <div class="dss-col-12">
        <div>100% - max-width 1278px</div>
      </div>
    </div>
  </section>
  <div class="dss-grid dss-mt-2">
    <div class="dss-col">
      <h3 dssTypography type="h3" id="container-center" class="dss-mb-1.5">Centro</h3>
    </div>
  </div>
  <section class="dss-grid-container-center">
    <div class="dss-grid">
      <div class="dss-col-12">
        <div>100% - max-width 1024px</div>
      </div>
    </div>
  </section>
</div>
<br>
<br>
<h2 dssTypography type="figure1">Grid</h2>
<br>
<br>
<div dssTypography type="body" class="dss-mx-n2">
  <div class="dss-grid-container-fluid">
    <div class="dss-grid">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="basico" class="dss-mb-1.5">Básico</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>2</div>
        </div>
        <div class="dss-col">
          <div>3</div>
        </div>
        <div class="dss-col">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="doze-colunas" class="dss-mb-1.5">12 Colunas</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col-6">
          <div>6</div>
        </div>
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>1</div>
        </div>
      </div>
      <div class="dss-grid">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-6">
          <div>6</div>
        </div>
      </div>
      <div class="dss-grid">
        <div class="dss-col-7">
          <div>7</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="varias-linhas" class="dss-mb-1.5">Várias linhas</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col-6">
          <div>6</div>
        </div>
        <div class="dss-col-6">
          <div>6</div>
        </div>
        <div class="dss-col-6">
          <div>6</div>
        </div>
        <div class="dss-col-6">
          <div>6</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="coluna-fixa" class="dss-mb-1.5">Coluna fixa</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col-fixed" style="width: 200px;">
          <div>200px</div>
        </div>
        <div class="dss-col">
          <div>auto</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="responsivo" class="dss-mb-1.5">Responsivo</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6">
          <div>dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6</div>
        </div>
        <div class="dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6">
          <div>dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6</div>
        </div>
        <div class="dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6">
          <div>dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6</div>
        </div>
        <div class="dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6">
          <div>dss-col-12 dss-col-sm-6 dss-col-md-3 dss-col-lg-6</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="offset" class="dss-mb-1.5">Offset</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col-6 dss-offset-3">
          <div>6</div>
        </div>
      </div>
      <div class="dss-grid">
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4 dss-offset-4">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="alinhamento" class="dss-mb-1.5">Layout complexo</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col-8 dss-col-no-gutter-left dss-col-no-gutter-right">
          <div class="dss-grid dss-no-gutter">
            <div class="dss-col-6">
              <div>6</div>
            </div>
            <div class="dss-col-6">
              <div>6</div>
            </div>
            <div class="dss-col-12">
              <div>12</div>
            </div>
          </div>
        </div>
        <div class="dss-col-4">
          <div style="height: 100%;">4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="no-gutter" class="dss-mb-1.5">Sem espaçamento - Em todos os break points</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-no-gutter">
        <div class="dss-col-8 dss-col-no-gutter">
          <div>8</div>
        </div>
        <div class="dss-col-4 dss-col-no-gutter">
          <div>4</div>
        </div>
      </div>
    </section>
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="no-gutter-mobile" class="dss-mb-1.5">Sem espaçamento - Apenas em telas menores < 768px</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-no-gutter-sm">
        <div class="dss-col-sm-12 dss-col-md-6 dss-col-no-gutter-sm">
          <div>Coluna</div>
        </div>
        <div class="dss-col-sm-12 dss-col-md-6 dss-col-no-gutter-sm">
          <div>Coluna</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="flex-row" class="dss-mb-1.5">Flex Row (Padrão)</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid">
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>2</div>
        </div>
        <div class="dss-col">
          <div>3</div>
        </div>
        <div class="dss-col">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="flex-row-reverse" class="dss-mb-1.5">Reordenar - Flex Row Reverse</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-flex-row-reverse">
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>2</div>
        </div>
        <div class="dss-col">
          <div>3</div>
        </div>
        <div class="dss-col">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="flex-column" class="dss-mb-1.5">Colunas - Flex Column</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-flex-column">
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>2</div>
        </div>
        <div class="dss-col">
          <div>3</div>
        </div>
        <div class="dss-col">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="flex-column-reverse" class="dss-mb-1.5">Reordenar Colunas - Flex Column Reverse</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-flex-column dss-flex-column-reverse">
        <div class="dss-col">
          <div>1</div>
        </div>
        <div class="dss-col">
          <div>2</div>
        </div>
        <div class="dss-col">
          <div>3</div>
        </div>
        <div class="dss-col">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="justify-content-start" class="dss-mb-1.5">Alinhamento horizontal no começo - Justify Content Start</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-justify-content-start">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="justify-content-end" class="dss-mb-1.5">Alinhamento horizontal no final Justify Content End</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-justify-content-end">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="justify-content-center" class="dss-mb-1.5">Alinhamento horizontal no centro - Justify Content Center</h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-justify-content-center">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="justify-content-between" class="dss-mb-1.5">
          Alinhamento horizontal mantendo um espaçamento igual entre os filhos. O primeiro fica grudado no inicio e o último no final. - Justify Content Between
        </h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-justify-content-between">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
        <div class="dss-col-3">
          <div>3</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="justify-content-around" class="dss-mb-1.5">
          Alinhamento horizontal mantendo um espaçamento entre os filhos. - Justify Content Around
        </h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-justify-content-around">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
        <div class="dss-col-3">
          <div>3</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="justify-content-evenly" class="dss-mb-1.5">
          Alinhamento horizontal mantendo um espaçamento uniforme entre os filhos inclusive nas bordas. - Justify Content Evenly
        </h3>
      </div>
    </div>
    <section>
      <div class="dss-grid dss-justify-content-evenly">
        <div class="dss-col-3">
          <div>3</div>
        </div>
        <div class="dss-col-1">
          <div>1</div>
        </div>
        <div class="dss-col-3">
          <div>3</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="align-items-start" class="dss-mb-1.5">Alinhamento vertical no começo - Align Items Start</h3>
      </div>
    </div>
    <section class="dss-mx-1.5">
      <div class="dss-grid dss-py-1.5 dss-align-items-start" style="height: 200px;">
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="align-items-end" class="dss-mb-1.5">Alinhamento vertical no final - Align Items End</h3>
      </div>
    </div>
    <section class="dss-mx-1.5">
      <div class="dss-grid dss-py-1.5 dss-align-items-end" style="height: 200px;">
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="align-items-center" class="dss-mb-1.5">Alinhamento vertical no centro - Align Items Center</h3>
      </div>
    </div>
    <section class="dss-mx-1.5">
      <div class="dss-grid dss-align-items-center" style="height: 200px;">
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
        <div class="dss-col-4">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="align-items-stretch" class="dss-mb-1.5">Alinhamento vertical esticado - Align Items Stretch</h3>
      </div>
    </div>
    <section class="dss-mx-1.5">
      <div class="dss-grid dss-py-1.5 dss-align-items-stretch" style="height: 200px;">
        <div class="dss-col-4">
          <div style="height: 100%;">4</div>
        </div>
        <div class="dss-col-4">
          <div style="height: 100%;">4</div>
        </div>
        <div class="dss-col-4">
          <div style="height: 100%;">4</div>
        </div>
      </div>
    </section>
  </div>
  <div class="dss-grid-container-fluid">
    <div class="dss-grid dss-mt-2">
      <div class="dss-col">
        <h3 dssTypography type="h3" id="align-items-per-column" class="dss-mb-1.5">Alinhamento vertical por coluna</h3>
      </div>
    </div>
    <section class="dss-mx-1.5">
      <div class="dss-grid dss-py-1.5" style="height: 200px;">
        <div class="dss-col-4 dss-align-self-start">
          <div>4</div>
        </div>
        <div class="dss-col-4 dss-align-self-center">
          <div>4</div>
        </div>
        <div class="dss-col-4 dss-align-self-end">
          <div>4</div>
        </div>
      </div>
    </section>
  </div>
</div>
<br>
<br>
<h2 dssTypography type="figure1">CSS Gap</h2>
<br>
<br>
<div dssTypography type="body" class="dss-mx-n2">
  <div class="dss-grid-container-fluid">
    <section class="dss-mx-2">
      <div class="dss-display-flex dss-flex-wrap dss-justify-content-center dss-gap-1.5">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
      </div>
    </section>
  </div>
</div>
