<h2 dssTypography type="figure1">Status Arrow</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<section>
  <span dssStatusArrow></span>
  <span dssStatusArrow direction="right"></span>
  <span dssStatusArrow direction="bottom"></span>
  <span dssStatusArrow direction="left"></span>
</section>
<br>
<br>
<h3 dssTypography type="h3">Negative</h3>
<br>
<section>
  <span dssStatusArrow status="negative"></span>
  <span dssStatusArrow status="negative" direction="right"></span>
  <span dssStatusArrow status="negative" direction="bottom"></span>
  <span dssStatusArrow status="negative" direction="left"></span>
</section>
<br>
<br>
<h3 dssTypography type="h3">Positive</h3>
<br>
<section>
  <span dssStatusArrow status="positive"></span>
  <span dssStatusArrow status="positive" direction="right"></span>
  <span dssStatusArrow status="positive" direction="bottom"></span>
  <span dssStatusArrow status="positive" direction="left"></span>
</section>
<br>
<br>
<h3 dssTypography type="h3">Active</h3>
<br>
<section>
  <span dssStatusArrow status="active"></span>
  <span dssStatusArrow status="active" direction="right"></span>
  <span dssStatusArrow status="active" direction="bottom"></span>
  <span dssStatusArrow status="active" direction="left"></span>
</section>
<br>
<br>
<h3 dssTypography type="h3">Disabled</h3>
<br>
<section>
  <span dssStatusArrow status="disabled"></span>
  <span dssStatusArrow status="disabled" direction="right"></span>
  <span dssStatusArrow status="disabled" direction="bottom"></span>
  <span dssStatusArrow status="disabled" direction="left"></span>
</section>
