<h2 dssTypography type="figure1">Tipografia</h2>
<br>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<table>
  <tbody>
  <tr>
    <td><span dssTypography type="display1">Display 1</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="display2">Display 2</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="figure1">Figure 1</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="figure2">Figure 2</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="figure3">Figure 3</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="figure4">Figure 4</span></td>
  </tr>
  <tr>
    <td><h1 dssTypography type="h1">H1</h1></td>
  </tr>
  <tr>
    <td><h1 dssTypography type="h1" [bold]="true">H1 em Bold</h1></td>
  </tr>
  <tr>
    <td><h2 dssTypography type="h2">H2</h2></td>
  </tr>
  <tr>
    <td><h1 dssTypography type="h2" [bold]="true">H2 em Bold</h1></td>
  </tr>
  <tr>
    <td><h3 dssTypography type="h3">H3</h3></td>
  </tr>
  <tr>
    <td><h1 dssTypography type="h3" [bold]="true">H3 em Bold</h1></td>
  </tr>
  <tr>
    <td><div dssTypography type="body">Body</div></td>
  </tr>
  <tr>
    <td><h1 dssTypography type="body" [bold]="true">Body em Bold</h1></td>
  </tr>
  <tr>
    <td><span dssTypography type="caption">Caption</span></td>
  </tr>
  </tbody>
</table>
<br>
<br>
<h3 dssTypography type="h3">Alterado a cor</h3>
<br>
<table>
  <tbody>
  <tr>
    <td><span dssTypography type="body" color="redLight4">Red Light 4</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="redLight1">Red Light 1</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="redDark1">Red Dark 1</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="redDark2">Red Dark 2</span></td>
  </tr>
  <tr style="background-color: #000000;">
    <td><span dssTypography type="body" color="grayLight2">Gray Light 2</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="grayLight1">Gray Light 1</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="gray">Gray</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="grayDark1">Gray Dark 1</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="grayDark2">Gray Dark 2</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="grayDark3">Gray Dark 3</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="black">Black</span></td>
  </tr>
  <tr style="background-color: #000000;">
    <td><span dssTypography type="body" color="white">White</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="cyan">Cyan</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="yellow">Yellow</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="green">Green</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="blueLight5">Blue Light 5</span></td>
  </tr>
  <tr style="background-color: #000000;">
    <td><span dssTypography type="body" color="blueLight3">Blue Light 3</span></td>
  </tr>
  <tr style="background-color: #000000;">
    <td><span dssTypography type="body" color="blueLight2">Blue Light 2</span></td>
  </tr>
  <tr>
    <td><span dssTypography type="body" color="blue">Blue</span></td>
  </tr>
  </tbody>
</table>
