<div class="dss-grid dss-justify-content-start">
  <div class="dss-col-4">
    <a href="https://github.com/Walmiruff/design-system-sphere-demo/blob/main/src/app/components/alert-banner/README.md" target="_blank" title="Acesse a Documentação" style="text-decoration: none;">
      <h2 dssTypography type="figure1">Alert Banner<span dssIcon name="link" size="small"></span></h2>
    </a>
  </div>
</div>
<br>
<br>
<h3 dssTypography type="h3">Informativo</h3>
<br>
<br>
<dss-alert-banner type="info" [open]="true">
  Feedback Alert Information. Text goes right here.
  <dss-alert-banner-actions>
    <button dssButton>Ignorar</button>
  </dss-alert-banner-actions>
</dss-alert-banner>
<br>
<br>
<h3 dssTypography type="h3">Aviso</h3>
<br>
<br>
<dss-alert-banner type="warning" [open]="true">
  Feedback Alert Warning. Text goes right here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Distinctio doloremque, eius enim laborum modi sed! Aspernatur commodi, cumque distinctio doloribus ducimus
  eaque eius illo mollitia nobis optio possimus tempora vitae.
  <dss-alert-banner-actions>
    <button dssButton>Ignorar</button>
    <button dssButton>Ir</button>
  </dss-alert-banner-actions>
</dss-alert-banner>
<br>
<br>
<h3 dssTypography type="h3">Perigo</h3>
<br>
<br>
<dss-alert-banner type="danger" [open]="true">
  Feedback Alert Danger. Text goes right here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Aliquam aperiam cupiditate dicta dolorem doloribus, eaque eligendi enim excepturi expedita laborum, maxime
  molestiae nesciunt possimus quia quisquam rem tempora veritatis voluptate?
  <dss-alert-banner-actions>
    <button dssButton>Ignorar</button>
    <button dssButton>Ir</button>
  </dss-alert-banner-actions>
</dss-alert-banner>
<br>
<br>
<h3 dssTypography type="h3">Sucesso</h3>
<br>
<br>
<dss-alert-banner type="success" [open]="true">
  Feedback Alert Success. Text goes right here. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Accusantium at earum ex explicabo hic id ipsa libero, mollitia neque omnis recusandae repellendus,
  repudiandae sit tempora ullam vero voluptatibus! Deserunt, odit.
  <dss-alert-banner-actions>
    <button dssButton>Ignorar</button>
    <button dssButton>Ir</button>
  </dss-alert-banner-actions>
</dss-alert-banner>
