<h2 dssTypography type="figure1">Flyout Menu</h2>
<br>
<h3 dssTypography type="h3">Default</h3>
<br>
<ul dssFlyoutMenu>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssIcon name="death"></span>
      <span dssFlyoutMenuLabel>Morte</span>
    </a>
  </li>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssIcon name="housing"></span>
      <span dssFlyoutMenuLabel>Casas</span>
    </a>
  </li>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssIcon name="gift"></span>
      <span dssFlyoutMenuLabel>Presente</span>
    </a>
  </li>
</ul>
<br>
<h3 dssTypography type="h3">Sem ícones</h3>
<br>
<ul dssFlyoutMenu>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssFlyoutMenuLabel>Morte</span>
    </a>
  </li>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssFlyoutMenuLabel>Casas</span>
    </a>
  </li>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssFlyoutMenuLabel>Presente</span>
    </a>
  </li>
</ul>
<br>
<h3 dssTypography type="h3">Com ícone de seta (links)</h3>
<br>
<ul dssFlyoutMenu [links]="true">
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssFlyoutMenuLabel>Morte</span>
    </a>
  </li>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssFlyoutMenuLabel>Casas</span>
    </a>
  </li>
  <li dssFlyoutMenuItem>
    <a href="#" dssFlyoutMenuLink>
      <span dssFlyoutMenuLabel>Presente</span>
    </a>
  </li>
</ul>
